<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PNP ACG Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="top-content">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image">
    <div class="logo1">PNP <span>ANTI-CYBERCRIME GROUP</span></div>
  </div>

  <div class="login-card container {% if error %}error-style{% endif %}">
    <h1>Sign In</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <input type="text" name="username" placeholder="Username/Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <div class="remember">
        <input type="checkbox" id="remember">
        <label for="remember">Remember</label>
      </div>
      <button type="submit">LOGIN</button>
    </form>
    <a href="{{ url_for('signup') }}">
      <button class="btn-tutorial">CREATE AN ACCOUNT</button>
    </a>
  </div>

  <div class="shadow">
    <p>2025 © PNP - ACG.</p>
  </div>

  <div class="visitor-counter">
    <div class="counter-box">
      <table>
        <tr><td>🇵🇭 PH</td><td>2824124 🇺🇸 US</td><td>3828112</td></tr>
        <tr><td>🇳🇴 NO</td><td>1658673 🇸🇬 SG</td><td>584611</td></tr>
        <tr><td>🇳🇿 NZ</td><td>341761  🇨🇦 CA</td><td>186036</td></tr>
        <tr><td>🇨🇳 CN</td><td>161950  🇯🇵 JP</td><td>90256</td></tr>
        <tr><td>🇦🇺 AU</td><td>67166   🇮🇳 IN</td><td>60012</td></tr>
      </table>
      <p>Newest: CW &nbsp; You: 🇵🇭 PH</p>
      <p>Today: 948</p>
      <p>Total: 35300296</p>
      <p><small>Supercounters.com</small></p>
    </div>
    <div class="online-button">254 ONLINE</div>
  </div>
</body>
</html>
